/* .nav-element{
    display: flex;
    justify-content: space-between;
    align-items: center  ;
    background-color: antiquewhite;
    width: 100%;
}
.list-items{
    display: flex;
    list-style: none;
}
.list-items > li{
    padding: 5px;
} */

.active{
    background-color: red;
    color: #ffff;
}